
head {
  cursor:url(recursos/setamouse.png), auto;
}
body {
  cursor:url(recursos/setamouse.png), auto;
    height: 600px;
    background-image: url(recursos/fondo.png);
    background-size: 90rem;
      cursor:url(recursos/setamouse.png), auto;
    background-attachment: fixed;
}

footer{
  cursor:url(recursos/setamouse.png), auto;
}

@font-face {
    font-family: 'Chinese Rocks';
    src: url('fuentes/chinese.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    }
@font-face {
        font-family: 'Letra gta';
        src: url('fuentes/gta.ttf') format('truetype');
        font-style: normal;
        font-weight: normal;
        }
@font-face {
            font-family: "Rocket";
            src: url(../Menu/fuentes/Jost-900-BlackItalic.ttf);
            font-style: normal;
            font-weight: normal;
          }
@font-face {
    font-family: "wwe";
    src: url(../Menu/fuentes/wwe.ttf);
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'fuente';
    src: url('fuentes/coolvetica\ rg.ttf.otf') format('truetype');
    font-style: normal;
    font-weight: normal;
    }
h2{
    margin-top: 200px;
    font-family: 'Letra gta';
}
.dropdown {
  font-family: 'Colibri';
  display: inline-block;
  position: relative;
  top: 1px;
  left: 590px;
  cursor:url(recursos/setamouse.png), auto;
}

button{
  font-family: 'fuente';
  border:none;
  border-radius:5px;
  padding:15px 30px;
  font-size:18px;
  cursor:url(recursos/setamouse.png), auto;
}

button:hover{
  background-color:#ddd;
  cursor:url(recursos/setamouse.png), auto;
}

.dropdown-options {
  align-items:center;
  display: none;
  position: absolute;
  overflow: auto;
  background-color:#fff;
  border-radius:5px;
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
  cursor:url(recursos/setamouse.png), auto;
}

.dropdown:hover .dropdown-options {
  display: block;
  cursor:url(recursos/setamouse.png), auto;
}

.dropdown-options a {
  display: block;
  color: #000000;
  padding: 5px;
  text-decoration: none;
  padding:20px 40px;
  cursor:url(recursos/setamouse.png), auto;
}

.dropdown-options a:hover {
  color: #FFFFFF;
  cursor:url(recursos/setamouse.png), auto;
  background-color: #08e600b2
}
